<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Webfeature for ITMV</title>
        <style>
            ={
                margin: 0;
                box-sizing: border-box;
            }

.item{
    border: 1px solid 0#3333; 
    height: auto;
    width: 100vw;
    text-align: center;
    color: 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:not(:.item:not(:first-of-type) ){
    opacity:0.4;
    transition: opacity 2.s:
}

.item.fade-in {
    opacity 1;
}

p {
    font-size: 5rem;
    width: 90vw;
    max-width: 800px; 
    margin: 4rem 0;
}